<div class="home-page">
<!-- Start Header Section -->
  <div class="header-section">
    <div class="content">
      <div class="container">
        <div class="rate">
          <i class="fa fa-star fa-fw fa-2x light-orange" aria-hidden="true"></i>
          <div class="d-inline-block">
            <div class="top-number"><span>6.6</span>/10</div>
            <span class="bottom-number">136.9</span>
          </div>
        </div>
        <div class="title">
          <h1 class="my-3">Title for movies <span>2020</span></h1>
        </div>
        <div class="tags">
          <ul class="list-unstyled d-flex">
            <li>Action</li>
            <li>Comedy</li>
            <li>Crime</li>
            <li>Twillar</li>
          </ul>
        </div>
        <div class="movies-slider">
          <div class="carousel-items">
            <carousel
              height="300"
              cellsToShow="2.5"
              lightDOM="true"
              overflowCellsLimit="2"
              freeScroll="true"
              arrows="false"
              borderRadius="10"
              [images]="images">
            </carousel>
          </div>
        </div>
      </div>
    </div><!--.content-->
  </div><!--.header-section-->
  <!-- End Header Section -->

  <!-- Start Body Section -->
  <div class="body-section">
<!--    <div class="container-fluid">-->
      <div class="row w-100 mx-auto">
        <div class="col-7 px-0">
            <div class="body-left">
              <div class="description">
                <div class="col-11 col-lg-10 col-xl-7 mx-auto">
                  <h2 class="text-white">Description</h2>
                  <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis minima non sed. A animi autem ea est expedita.</p>
                </div>
              </div><!--.description-->
              <div class="user-reviews pt-4">
                <div class="offset-2 pl-5">
                  <h2 class="text-white">User Reviews</h2>
                  <div class="reviews">
                    <div class="star-rate">
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <span class="text-white ml-2">Love it</span>
                    </div>
                    <div class="date mt-2">
                      <p class="text-white">17 August 2020 | by <a routerLink="" class="light-orange">Zaid Khoury</a> - <a routerLink="" class="light-orange">See all my reviews</a></p>
                    </div>
                    <div class="reviews-content">
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio et fugiat in itaque labore laborum magni necessitatibus odio tenetur! Accusantium architecto consectetur dolore est eum exercitationem laborum quae sit?</p>
                    </div>
                    <hr class="w-75 offset-3 mt-5 mb-4">
                  </div>
                  <div class="reviews">
                    <div class="star-rate">
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <span class="text-white ml-3">Love it</span>
                    </div>
                    <div class="date mt-2">
                      <p class="text-white">17 August 2020 | by <a routerLink="" class="light-orange">Zaid Khoury</a> - <a routerLink="" class="light-orange">See all my reviews</a></p>
                    </div>
                    <div class="reviews-content">
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio et fugiat in itaque labore laborum magni necessitatibus odio tenetur! Accusantium architecto consectetur dolore est eum exercitationem laborum quae sit?</p>
                    </div>
                    <hr class="w-75 offset-3 mt-5 mb-4">
                  </div>
                  <div class="reviews">
                    <div class="star-rate">
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <i class="fa fa-star fa-fw light-orange" aria-hidden="true"></i>
                      <span class="text-white ml-2">Love it</span>
                    </div>
                    <div class="date mt-2">
                      <p class="text-white">17 August 2020 | by <a routerLink="" class="light-orange">Zaid Khoury</a> - <a routerLink="" class="light-orange">See all my reviews</a></p>
                    </div>
                    <div class="reviews-content">
                      <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur distinctio et fugiat in itaque labore laborum magni necessitatibus odio tenetur! Accusantium architecto consectetur dolore est eum exercitationem laborum quae sit?</p>
                    </div>

                  </div><!--.reviews-->
                  
                  <a routerLink="" class="light-orange view-all d-inline-block my-3">View All Reviews</a>
                </div>
              </div><!--.user-reviews-->
            </div><!--.body-left-->
        </div>
        <div class="col-5 px-0">
          <div class="body-right pl-5">
              <div class="casts-content">
                <h2 class="text-white">Casts</h2>
                <ul class="list-unstyled">
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/will_smith.jpg" alt="Will Smith">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Will Smith as <span class="light-orange">Mike</span></a>
                  </li>
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/Martin Lawrence.jpg" alt="Martin Lawrence">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Martin Lawrence as <span class="light-orange">Marcus</span></a>
                  </li>
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/Vanessa Hudgens.jpg" alt="Vanessa Hudgens">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Vanessa Hudgens as <span class="light-orange">Kelly</span></a>
                  </li>
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/Alexander Ludwig.jpg" alt="Alexander Ludwig">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Alexander Ludwig as <span class="light-orange">Dorn</span></a>
                  </li>
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/Paola Nuñez Ludwig.jpg" alt="Paola Nuñez Ludwig">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Paola Nuñez Ludwig as <span class="light-orange">Rita</span></a>
                  </li>
                  <li class="py-3">
                    <img class="rounded-circle" src="../../../assets/Kate del Castillo.jpg" alt="Kate del Castillo">
                    <a routerLink="/actor" class="text-white d-inline-block ml-3">Kate del Castillo as <span class="light-orange">Isabel Aretas</span></a>
                  </li>
                </ul>
              </div><!--.cast-content-->
              <div class="crew-content pt-5">
                <h2 class="h1 text-white">Crew</h2>
                <h6 class="text-white mb-2">Produced by</h6>
                <div class="crew-member mb-2">
                  <div class="row">
                    <div class="col-4">
                      <h6 class="name light-orange">Bill Bannerman</h6>
                    </div>
                    <div class="col">
                      <h6 class="position text-white">line producer:additional photograph</h6>
                    </div>
                  </div>                
                </div>
                <div class="crew-member mb-2">
                  <div class="row">
                    
                    <div class="col-4">
                      <h6 class="name light-orange">Doug Belgrad</h6>
                    </div>
                    <div class="col">
                      <h6 class="position text-white">producer (produced by) (p.g.a)</h6>
                    </div>
                    
                  </div>                
                </div>
                
                <div class="crew-member mb-2">
                  <div class="row">
                    
                    <div class="col-4">
                      <h6 class="name light-orange">Doug Belgrad</h6>
                    </div>
                    <div class="col">
                      <h6 class="position text-white">producer (produced by) (p.g.a)</h6>
                    </div>
                  </div>  

                </div>
                <a routerLink="" class="light-orange view-all d-inline-block my-3">View All Reviews</a>
              </div><!--.crew-content-->
          </div>
        </div>
      </div><!--.row-->
<!--    </div>-->
  </div><!--.body-section-->
  <!-- End Body Section -->
</div><!--.home-page-->
