<div class="search-box">
    <div class="container">
        <div class="search-content">
            <h5 class="text-white mb-4">Results For <span class="light-orange">Bad Boys</span></h5>    
            <div class="result">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="result-item">
                            <div class="item-overlay light-orange">
                                <div class="overlay-content">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                    <p class="">View details</p>
                                </div>
                            </div>
                            <img class="img-responsive" src="../../../../assets/result-1.jpg" alt="name">
                        </div><!--.result-item-->
                        <h6 class="desc text-white mt-3">Bad Boys for life <span class="date">2020</span><span class="hash-number">#1325</span></h6>
                    </div>
                </div><!--.row-->
            </div><!--.result-->
        </div><!--.search-content-->
    </div><!--.container-->
</div><!--.search-box-->
