<div class="home-page">
    <!-- Start Header Section -->
    <div class="header-section">
        <div class="content">
            <div class="container">
            
                <div class="actor">
                    <div class="actor-image mx-auto">
                        <img class="img-responsive rounded-circle" src="../../../../../assets/will_smith.jpg" alt="will smith">
                    </div>
                    <h4 class="shor-desc text-white text-center mt-3 mb-5">Willcard Carroll Smith JR.</h4>
                    <div class="actor-info">
                        <div class="row">
                            <div class="col-8">
                                <div class="info-box p-4">
                                    <h2 class="text-white">Mini BIO</h2>
                                    <p class="text-white mb-2">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Dolor facilis facere temporibus eum aliquam alias sit velit blanditiis repudiandae? 
                                        Adipisci incidunt deleniti repellendus, saepe dicta libero odio dolore harum autem.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Dolor facilis facere temporibus eum aliquam alias sit velit blanditiis repudiandae? 
                                        Adipisci incidunt deleniti repellendus, saepe dicta libero odio dolore harum autem.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Dolor facilis facere temporibus eum aliquam alias sit velit blanditiis repudiandae? 
                                        Adipisci incidunt deleniti repellendus, saepe dicta libero odio dolore harum autem.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Dolor facilis facere temporibus eum aliquam alias sit velit blanditiis repudiandae? 
                                        Adipisci incidunt deleniti repellendus, saepe dicta libero odio dolore harum autem.
                                    </p>
                                    <a href="" class="light-orange">Read More...</a>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="info-box p-4">
                                    <h2 class="text-white mb-5">Generals</h2>
                                    <ul class="list-unstyled text-white">
                                        <li>
                                            <p class="d-inline-block">Birth Date : <span class="light-orange">1968-09-25</span></p>
                                            <p class="d-inline-block pull-right">height : <span class="light-orange">187.96</span></p>
                                        </li>
                                        <li>
                                            <p class="">Birth Place : <span class="light-orange">Philadelpha, Pennsylvania, USA</span></p>
                                        </li>
                                        <li>
                                            <p class="d-inline-block">Gender : <span class="light-orange">Male</span></p>
                                            <p class="d-inline-block pull-right">Spouses : <span class="light-orange">2 Children</span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div><!--.content-->
    </div><!--.header-section-->
    <!-- End Header Section -->

    <!--Start Award Section-->
    <div class="award-section py-5">
        <div class="container">        
            <h3 class="text-white mb-4">Award</h3>    
            <div class="award-content">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="result-item">
                            <div class="item-overlay light-orange">
                                <div class="overlay-content">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                    <p class="">View details</p>
                                </div>
                            </div>
                            <img class="img-responsive" src="../../../../../assets/Chopard Trophy.jpg" alt="name">
                        </div><!--.result-item-->
                        <h6 class="desc text-white mt-3">Kevin at the Cannes Film Festival - <span class="date">The Chopard Trophy</span></h6>
                    </div>
                </div><!--.row-->
            </div><!--.result-->
        </div>
    </div>
    <!--End Award Section-->
    
</div><!--.home-page-->
    